name: 阿里云函数部署
on:
  # schedule:
  #   - cron: '10 1,8,15 * * *'
  workflow_dispatch:
  push:
    # paths:
    #   - 'src/*.*'
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      ALI_KEYID: ${{ secrets.ALI_KEYID }}
      ALI_KEYSECRET: ${{ secrets.ALI_KEYSECRET }}
      ALI_ACCOUNTID: ${{ secrets.ALI_ACCOUNTID }}
      ltphone: ${{ secrets.ltphone }}
      ltpwd: ${{ secrets.ltpwd }}
      iku_EMAIL: ${{ secrets.iku_EMAIL }}
      iku_PWD: ${{ secrets.iku_PWD }}
      JJ_EMAIL: ${{ secrets.JJ_EMAIL }}
      JJ_PWD: ${{ secrets.JJ_PWD }}
      HJH_EMAIL: ${{ secrets.HJH_EMAIL }}
      HJH_PWD: ${{ secrets.HJH_PWD }}
      flhsCookie: ${{ secrets.flhsCookie }}
      jrttjsbHeader: ${{ secrets.jrttjsbHeader }}
      ksjsbCookie: ${{ secrets.ksjsbCookie }}
      jzttToken: ${{ secrets.jzttToken }}
      kugouurl: ${{ secrets.kugouurl }}
      ALL_SECRETS: ${{ toJson(secrets) }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: set serverless.yml and push env
        run: |
          npm install @serverless-devs/s -g
          s config add --AccessKeyID $ALI_KEYID --AccessKeySecret $ALI_KEYSECRET --AccountID $ALI_ACCOUNTID
          s deploy -y --use-remote
